.footer__container {
    margin-top: auto;    
    min-height: 146px;
    
}

.footer__container--height {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer__left {
    display: flex;
    align-items: center;
}

.footer__right {
    display: flex;
    align-items: center;
}

.footer-container--page {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
