.footer-container {
    position: relative;
    height: 146px;
    top: 17px;
}


.socials__item {
   display: inline-block;
   vertical-align: middle;
   margin-right: 7px;
}

.contacts__description {
    font-size: 11px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    opacity: .5;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__list {
    position: absolute;
    right: 262px;
    top: 30px;
}

.socials__link:hover {
  opacity: 1;
}