
.header {
    min-height: 123px;
    position: relative;
    margin-bottom: 75px;
}

.logo {
    display: block;
    position: absolute;
    top: 29px;
}

.logo__img {
    width: 85px;
    height: 36px;
}

.menu {
    top: 40px;
    left: 164px;
    position: absolute;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
} 

.menu__item:last-child {
    margin-right: 0;
} 

.contacts {
    top: 27px;
    right: 0px;
    position: absolute;
}

.menu__link {
    text-decoration: none;
}

.menu__link:hover, .menu__link.active {
    color: #DA0100;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    margin-top: -8px;
}
