
.main-page-wrapper {
    background: url(../img/hero.jpg) center top no-repeat, url(../img/bottom-pic.jpg) right -174px bottom 170px no-repeat;
}


.hero {
    margin-bottom: 245px;
}


.hero__text-section {
    width: 579px;
}

.hero__title {
    font-size: 72px;
    margin-bottom: 23px;
    line-height: 98px;
}

.hero__subtitle {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 31px;
    font-weight: normal;
}

.features {
    margin-bottom: 118px;
}

.features__title {
    display: inline-block;
    margin-right: 12px;
}
    
.features__name {
    margin-bottom: 51px;
}

.features__list {
    display: inline-block;
    vertical-align: middle;
}

.features__item {
    min-height: 305px;
    background: #FFFFFF;
    display: inline-block;
    margin-right: 27px;
    width: 359px;
    vertical-align: middle;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;

}

.features__item:last-child {
    margin-right: 0;
}

.features__subtitle {
    color: #000000;
    font-size: 24px;
    margin-bottom: 21px;
    margin-top: 0;
}

.features__info-text {
    color: #666666;
    font-size: 16px;
    vertical-align: top;
}

.features__description{
    color: #303030;
    margin-bottom: 27px;
}

.features__header {
    display: block;
    min-height: 144px;
    min-width: 100%;
    background-size: cover;
    background-position-x: center;
}

.features__item:first-child .features__header {
    background: url(../img/thailand.jpg);
    background-position-y: -24px;
}

.features__item:nth-child(2) .features__header {
    background: url(../img/bali.jpg);
    background-position-y: -30px;
}

.features__item:last-child .features__header {
    background: url(../img/indonesia.jpg);
    background-position-y: -36px;
}

.features__content {
    padding: 33px 20px;
}

.features__details {
    padding-left: 7px;
    margin-bottom: 20px;
}

.features__details-info {
    display: inline-block;
    margin-right: 25px;
}

.features__details-info:last-child {
    margin-right: 0px;
}

.features__info-img {
    margin-right: 5px;
}

.features__button {
    color: #F5170E;
    background: #FFFFFF;
    border: 1px solid #F5170E;
    padding: 18px 30px;
}

.features__button:hover {
    background: #F5170E;
    color: #FFFFFF;
}

.news {
    margin-bottom: 146px;
}

.news__title {
    margin-bottom: 51px;
}

.news__list {
    margin-bottom: 53px;
}

.news__background {
    min-height: 394px;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}

.news__item {
    width: 555px;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    position: relative;
}

.news__item:last-child {
    margin-right: 0;
}

.news__description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 36px 30px 0px;
    min-height: 176px;
}

.news__date {
    display: block;
    margin-bottom: 14px;
}

.news__subtitle {
    font-size: 24px;
}

.news__text {
    font-size: 16px;
}

.about__section:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(../img/gates.jpg) center center;
    background-size: cover;
    border-radius: 5px;
}

.about__section {
    margin-bottom: 53px;
}

.about__description {
    display: inline-block;
    vertical-align: top;
    background: url(../img/mountains.jpg);
    background-position-x: center;
    background-size: cover;
    border-radius: 5px;
    width: 785px;
    min-height: 455px;
    padding: 70px 204px 70px 80px;
    margin-left: -139px;
    margin-top: 97px;
}  

.about__title {
    color: #000000;
    margin-bottom: 37px;
}

.about__text {
    color: #060606;
    margin-bottom: 42px;
    line-height: 27px;
    font-size: 16px;
}

.about__text > p {
    margin-bottom: 20px;
}

.about__text > p:last-child {
    margin-bottom: 0;
}

.footer-main-page {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

