.socials {
    margin-right: 80px;
}

.socials__list {
    display: flex;
}

.socials__item {
    margin-right: 7px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    opacity: .5;
}

.socials__link:hover {
    opacity: 1;
}

.socials__item:last-child {
    margin-right: 0;
}
